!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    title Requisite by zeekay
    link(rel='stylesheet', href='stylesheets/styles.css')
    link(rel='stylesheet', href='stylesheets/pygment_trac.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //if lt IE 9
  body
    .wrapper
      header
        h1 Requisite
        p A cosmic JavaScript bundler
        p.view
          a(href='https://github.com/zeekay/requisite')
            | View the Project on GitHub
            small zeekay/requisite
        ul
          li
            a(href='https://github.com/zeekay/requisite/zipball/master')
              | Download
              strong ZIP File
          li
            a(href='https://github.com/zeekay/requisite/tarball/master')
              | Download
              strong TAR Ball
          li
            a(href='https://github.com/zeekay/requisite')
              | View On
              strong GitHub
      section
        p!= content
      footer
        p
          | This project is maintained by
          a(href='https://github.com/zeekay') zeekay
        p
          small
            | Hosted on GitHub Pages — Theme by
            a(href='https://github.com/orderedlist') orderedlist
    script(src='javascripts/scale.fix.js')
  script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
